@font-face {
  font-family: "Raiderfont";
  src: local("Raiderfont"), url("../../assets/fonts/Raiderfont.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

.content {
  height: 100vh;
  overflow: hidden;
}

html.darkmode {
  filter: invert(100%);
}

html.darkmode img,
html.darkmode .lala,
html.darkmode .clickme,
html.darkmode .left,
html.darkmode .logo,
html.darkmode .sidemenu {
  filter: invert(100%);
}

html.darkmode img:hover,
html.darkmode .lala:hover {
  filter: invert(100%);
}

body {
  font-family: "Montserrat";
  font-size: 12px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

ul {
  list-style: none;
}

.right {
  position: absolute;
  width: 70%;
  height: 100%;
  z-index: -1;
}

.left {
  position: absolute;
  width: 30%;
  height: 100%;
  z-index: -1;
}

.left {
  background: #972c54;
  left: 0%;
  width: 0%;
  height: 100vh;
}

.right {
  background: #191921;
  right: 0%;
  height: 100vh;
  width: 100%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.nav ul li {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 8px;
  font-weight: 600;
  padding: 0 30px;
}

.nav .logo {
  font-size: 1.5vw;
  letter-spacing: 0;
  transition: 0.2s ease;
}

.nav .theme {
  font-size: 2.5vw;
  margin-top: 0.5em;
  transition: all 0.1s ease;
  transform-origin: top(50%) left(50%);
}

.nav .logo:hover {
  cursor: pointer;
  font-size: 2vw;
}

.nav .theme:hover {
  transform: rotate(360deg);
}

.swiper-container {
  width: 60%;
  height: 50em;
  cursor: none;
  position: absolute;
  transform: translateX(-1300px);
  cursor: grab;
  z-index: -10;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 850px;
  height: auto;
  overflow: hidden;
}

.swiper-slide .swiper-slide-shadow-right {
  display: none;
}

.swiper-slide .swiper-slide-shadow-left {
  display: none;
}

.swiper-slide .swiper-wrapper {
  z-index: -10;
}

.img-wrapper {
  position: absolute;
  bottom: 0;
  left: 180px;
  z-index: 0;
  background-size: cover;
  cursor: none;
}

.img-wrapper .lala {
  background-image: url("../../assets/img/lalita.jpeg");
  background-size: cover;
  background-position-x: center;
  transform: translateY(-20px) translateX(-10vw);
  height: 42em;
  width: 0;
  opacity: 1;
  transition: 0.5s ease;
  cursor: none;
}

.img-wrapper .lalasinhover {
  background-image: url("../../assets/img/lalita.jpeg");
  background-size: cover;
  transform: translateY(-20px) translateX(-100px);
  height: 500px;
  width: 0;
  opacity: 1;
  transition: 0.5s ease;
}

.img-wrapper .lala:hover {
  filter: contrast(0.7);
  cursor: none;
}

.clickme {
  position: absolute;
  top: 20%;
  color: white;
  border-radius: 50%;
  border-spacing: 40px;
  height: 50px;
  width: 50px;
  border: dotted white 3px;
  font-size: 10px;
  box-shadow: white;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  align-items: center;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  z-index: 5;
}

.info {
  position: absolute;
  bottom: 0;
  left: 20em;
  background: rgba(0, 0, 0, 0.8);
  padding: 1vw 2vw;
  display: flex;
  width: 35%;
  height: 10%;
  z-index: 1;
  flex-direction: row;
}

.info ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.info ul li {
  display: inline-block;
  padding: 0.5vw 0.5vw;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.8vw;
  font-weight: 600;
}

.info ul a {
  color: white;
  text-decoration: none;
}

.info i {
  font-size: 1vw;
}

.profiletext {
  font-size: 20px;
  color: #fff;
  font-family: monospace;
  position: absolute;
  top: 28%;
  left: 48%;
  width: 33em;
  opacity: 0;
  display: none;
}

.text {
  position: absolute;
  top: 50%;
  right: 10vw;
  transform: translateY(-50%);
}

.text h1 {
  font-size: 7vw;
  color: #fff;
  font-family: "Raiderfont";
  text-transform: uppercase;
  pointer-events: none;
}

.text p {
  font-size: 20px;
  color: #fff;
  font-family: monospace;
}

.text ul {
  position: relative;
  transform: translateY(-20px) translateX(80px);
  display: none;
}

.text ul li:hover {
  text-shadow: 0 0 1px white;
  cursor: pointer;
}

.proyectactive {
  text-shadow: 0 0 1px white;
}

.navactive {
  border-bottom: 1px solid white;
}

.proyects ul li {
  font-size: 1.7vw;
  font-family: "Raiderfont";
  text-transform: uppercase;
  color: transparent;
  letter-spacing: 10px;
  -webkit-text-stroke: 1px #fff;
  line-height: 35px;
  text-align: end;
}

.bottomnav {
  position: absolute;
  bottom: 50px;
  right: 100px;
  width: 20em;
}

.bottomnav ul li {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  margin-top: 20px;
}

.sidemenu {
  position: fixed;
  width: 14vw;
  right: 0%;
  height: 100vh;
  background: #972c54;
  transition: width 400ms ease;
  z-index: 10;
  display: none;
}

.sidemenu .logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  background: white;
  letter-spacing: 0.3ch;
  width: 100%;
}

.sidemenu .logo i {
  color: black;
  transform: rotate(0deg);
  transition: transform 300ms ease;
}

.sidemenu .logo span {
  color: black;
  z-index: 20;
}

.sidemenu-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease;
}

.sidemenu-nav.contact {
  display: none;
}

.sidemenu-nav.projects {
  display: none;
}

.sidemenu-nav.projects .nav-item {
  height: 9vh;
}

.sidemenu-nav.projects .nav-item i {
  font-size: 6vw;
}

.nav-item {
  width: 100%;
  height: 10vh;
  transition: all 0.3s ease;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  color: white;
  justify-content: center;
}

.nav-link i {
  margin: 0 1.5vw;
  font-size: 7vw;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
}

.nav-link span {
  display: none;
  pointer-events: none;
  margin-left: 1rem;
  font-size: 4vw;
}

.sidemenu.open {
  width: 50vw;
}

.sidemenu.open span {
  display: block;
}

.sidemenu.open .logo i {
  transform: rotate(540deg);
}

.sidemenu.open .nav-item:hover {
  background: #8a1d45;
  height: 10vh;
}

.sidemenu.open .sidemenu-nav .logo:hover {
  background: white;
}

.sidemenu.open .nav-link {
  justify-content: flex-start;
  padding-left: 2vw;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .text {
    transform: translateX(1em) translateY(-45vw);
    width: fit-content;
    position: initial;
  }
  .text h1 {
    font-size: 9vw;
    width: min-content;
  }
  .bottomnav {
    display: none;
  }
  .info {
    display: none;
  }
  .lala {
    width: 65vw !important;
  }
  .nav {
    display: none;
  }
  .clickme {
    left: 35vw !important;
    top: 35vh !important;
    opacity: 1 !important;
    width: 30px;
    height: 30px;
    font-size: 8px;
  }
  .proyects {
    display: none !important;
  }
  .sidemenu {
    display: block;
  }
  .swiper-container {
    width: 80%;
    height: 50em;
    margin-right: 16vw !important;
  }
  .img-wrapper {
    left: 20%;
    height: 60%;
    top: 35vh;
  }
  .img-wrapper .lala {
    transform: translateX(5vw) translateY(-17vh);
  }
  body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  .profiletext {
    width: 70vw;
    font-size: 16px;
    left: 10%;
  }
  .content {
    height: 100% !important;
  }
}

@media screen and (min-width: 900px) {
  .text {
    display: block !important;
  }
}
/*# sourceMappingURL=style.css.map */